// ===== COLORS ====
$dark-grey: #282828;
$grey-color: #a0a0a0;
$lightGrey-color: #404040;
$white-color: #FFF;
$darkBlack-color: #181818;
$black-color: #000;
$green-color: #2ebd59;

// ===== MIXIN =====
@mixin border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
} 

html, body {
  @include border-box();
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $darkBlack-color;
  letter-spacing: 1px;
}

// ===== GLOBAL =====
[role='link'] {
  cursor:pointer;
}

.noResults {
  font-size: 18px;
  text-align: center;
  display: block;
}

/* 
*   Page for index.php
*/
#topContainer {
  width: 100%;
  height: 100%;
  
  .navbarContainer {
    background-color: $black-color;
    position: fixed;
    width: 280px;
    height: 100%;
    top: 0;
    left: 0;

    .navBar {
      display: flex;
      flex-direction: column; 
      margin: 35px;
    }

    .navBrand {
      margin: 0 auto;
      margin-bottom: 25px;
    }

    .group {
      padding: 8px 5px;
      border-top: 1px solid $grey-color;

      .navItem {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        position: relative;

        .navItemLink {
          text-decoration: none;
          color: $grey-color;

          &:hover {
            color: $white-color;
          }

          .icon {
            position: absolute;
            top: 6px;
            right: 0;
            height: 28px;
            width: 28px;
          }
        }
      }
    }
  }
}

#mainViewContainer {
  margin-left: 280px;
  padding-bottom: 90px;
  width: calc(100% - 280px);

  #mainContent {
    padding: 0 20px;
    color: $white-color;

    .mainTitleHeading {
      padding-top: 28px;
      padding-bottom: 15px;
      text-align: center;
    }

    .gridViewContainer {
      text-align: center;

      .gridViewItem {
        display: inline-block;
        margin-right: 25px;
        width: 29%;
        max-width: 200px;
        min-width: 150px;
        margin-bottom: 20px;

        .gridViewInfo {
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          padding-top: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: $white-color;
        }

        img {
          width: 100%;
        }

        a {
          text-decoration: none;
        }

        
      }
    }
  }

}

#playingBarContainer {
  background-color: $dark-grey;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  min-width: 620px;

  #playingBar {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
      
    #playingBarRight {
      width: 30%;
      min-width: 180px;

      .controlButton {
        background-color: transparent;
        border: none;
      }

      img {
        height: 24px;
        width: 24px;
      }

      .volumeBar { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;

        .progressBar {
          cursor: pointer;
        }

        .progressBarIcon {
          width: 150px;
          height: 4px;
          background-color: $lightGrey-color;
          border-radius: 2px;
          margin-bottom: 4px;
        }

        .progress {
          background-color: $grey-color;
          width: 0%;
          height: 4px;
          border-radius: 2px;
        }

      }
    } 

    #playingBarLeft {
      width: 30%;
      min-width: 180px;

      .content {
        height: 60px;
      }

      .albumArtwork {
        display: inline-block;
        height: 100%;
        margin-right: 5px;
        background-size: cover;

        img {
          height: 100%;
        }
      }

      .trackInfo {
        display: inline-block;
        vertical-align: top;

        .trackName {
          font-size: 18px;
          font-weight: bold;
          color: $white-color;
          margin-bottom: 5px;
        }

        .artistName {
          display: block;
          font-size: 12px;
          color: $grey-color;
          margin-top: 5px;
        }
      }
    }

    #playingBarCenter {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
        
      #playingBarControls {
        width: 100%;
        
      .buttons {
        display: table;
        margin: 0 auto;
      }

      .controlButton {
        background-color: transparent;
        border: none;
        vertical-align: middle;
      }

        .controlButton:hover {
          cursor: pointer;
        }

        .play img,
        .pause img {
          height: 32px;
          width: 32px;
        }

        img {
          height: 20px;
          width: 20px;              
        }
      }

      .playingProgressBar { 
        display: flex;
        width: 100%;

        .progressTime {
          color: $grey-color;
          font-size: 14px;
          text-align: center;
          min-width: 20px;
          width: 10%;
        }

        .progressBar {
          width: 90%;
          cursor: pointer;

          .progressBarIcon {
            width: 100%;
            height: 4px;
            background-color: $lightGrey-color;
            border-radius: 2px;
            margin-top: 6px;

          }

          .progress {
            background-color: $grey-color;
            width: 0%;
            height: 4px;
            border-radius: 2px;
          }

        }

      } 
    }

  }

}

/* 
*   Page for album.php
*/
.entityInfo {
  display: inline-block;
  padding: 40px 0 10px 10px;
  width: 100%;

  .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;

    img {
      width: 100%;
    }
  }
  .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 35px;
    box-sizing: border-box;

    h1 {
      margin: 0;
    }

    p {
      color: $grey-color;
      font-size: 14px;
    }

  }
}

.tracklist {
  padding: 0;

  .tracklistRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
    
    &:hover {
      background-color: $dark-grey;
    }

    span {
      color: $grey-color;
    }

    .trackCount {
      width: 5%;
      float: left;

      img {
        width: 20px;
        visibility: hidden;
        position: absolute;
        cursor: pointer;
      }

    }

    &:hover .trackCount img {
      visibility: visible;
    }

    & .trackCount span {
      visibility: visible;
    }

    &:hover .trackCount span {
      visibility: hidden;
    }

    .trackInfo {
      width: 75%;
      float: left;

      span {
        display: block;
      }

      .trackName {
        color: $white-color;
        margin-bottom: 5px;
      }
    }

    .trackOptions {
      width: 5%;
      float: left;
      text-align: right;

      img {
        width: 15px;
        visibility: hidden;
      }
    }

    &:hover .trackOptions img {
      visibility: visible;
    }

    .trackDuration {
      width: 10%;
      float: left;
      text-align: right;
    }

  }
}

/* 
*   Page for artist.php
*/
.entityInfo {
  
  .borderBottom {
    border-bottom: 1px solid $grey-color;
    margin-bottom: 15px;
  }

  .centerSection {
    text-align: center;
    
    .playButton {
      color: $white-color;
      font-weight: bold;
      cursor: pointer;
      background-color: $green-color;
      letter-spacing: 2px;
      border-radius: 75px;
      border: 2px solid $green-color;
      padding: 15px;
      width: 150px;
      text-transform: uppercase;
      margin-bottom: 30px;
      
    }

    .artistName {
      font-size: 42px;
    }
  }

  .left-align {
    text-align: left !important; 
  }

  .gridViewContainer h2,
  .tracklistContainer h2 {
    font-size: 26px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
  }

}

/* 
*   Page for search.php
*/
.searchContainer {
  padding: 20px 28px;
  background-color: $dark-grey;

  h4 {
    font-size: 20px;
    margin: 0;
    color: $white-color;
  }

  .searchInput {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 5px;
    color: $white-color;
  }

  input:focus {
    outline: none;
  }

}

.tracklistContainer.borderBottom {
  border-bottom: 1px solid $grey-color;
  margin-bottom: 15px;

  h2 {
    text-align: center;
    font-size: 32px;
  }
}

.artistContainer.borderBottom {
  border-bottom: 1px solid $grey-color;
  padding-bottom: 15px;

  h2 {
    text-align: center;
    font-size: 32px;
  }
  
  .searchResultArtist {
    margin-bottom: 15px;
    padding: 10px 10;

    span {
      font-size: 20px;
    }

    &:hover {
      background-color: $dark-grey;
    }
  }
}

