html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #181818;
  letter-spacing: 1px; }

[role='link'] {
  cursor: pointer; }

.noResults {
  font-size: 18px;
  text-align: center;
  display: block; }

/* 
*   Page for index.php
*/
#topContainer {
  width: 100%;
  height: 100%; }
  #topContainer .navbarContainer {
    background-color: #000;
    position: fixed;
    width: 280px;
    height: 100%;
    top: 0;
    left: 0; }
    #topContainer .navbarContainer .navBar {
      display: flex;
      flex-direction: column;
      margin: 35px; }
    #topContainer .navbarContainer .navBrand {
      margin: 0 auto;
      margin-bottom: 25px; }
    #topContainer .navbarContainer .group {
      padding: 8px 5px;
      border-top: 1px solid #a0a0a0; }
      #topContainer .navbarContainer .group .navItem {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        position: relative; }
        #topContainer .navbarContainer .group .navItem .navItemLink {
          text-decoration: none;
          color: #a0a0a0; }
          #topContainer .navbarContainer .group .navItem .navItemLink:hover {
            color: #FFF; }
          #topContainer .navbarContainer .group .navItem .navItemLink .icon {
            position: absolute;
            top: 6px;
            right: 0;
            height: 28px;
            width: 28px; }

#mainViewContainer {
  margin-left: 280px;
  padding-bottom: 90px;
  width: calc(100% - 280px); }
  #mainViewContainer #mainContent {
    padding: 0 20px;
    color: #FFF; }
    #mainViewContainer #mainContent .mainTitleHeading {
      padding-top: 28px;
      padding-bottom: 15px;
      text-align: center; }
    #mainViewContainer #mainContent .gridViewContainer {
      text-align: center; }
      #mainViewContainer #mainContent .gridViewContainer .gridViewItem {
        display: inline-block;
        margin-right: 25px;
        width: 29%;
        max-width: 200px;
        min-width: 150px;
        margin-bottom: 20px; }
        #mainViewContainer #mainContent .gridViewContainer .gridViewItem .gridViewInfo {
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          padding-top: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: #FFF; }
        #mainViewContainer #mainContent .gridViewContainer .gridViewItem img {
          width: 100%; }
        #mainViewContainer #mainContent .gridViewContainer .gridViewItem a {
          text-decoration: none; }

#playingBarContainer {
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  min-width: 620px; }
  #playingBarContainer #playingBar {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    width: 100%; }
    #playingBarContainer #playingBar #playingBarRight {
      width: 30%;
      min-width: 180px; }
      #playingBarContainer #playingBar #playingBarRight .controlButton {
        background-color: transparent;
        border: none; }
      #playingBarContainer #playingBar #playingBarRight img {
        height: 24px;
        width: 24px; }
      #playingBarContainer #playingBar #playingBarRight .volumeBar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px; }
        #playingBarContainer #playingBar #playingBarRight .volumeBar .progressBar {
          cursor: pointer; }
        #playingBarContainer #playingBar #playingBarRight .volumeBar .progressBarIcon {
          width: 150px;
          height: 4px;
          background-color: #404040;
          border-radius: 2px;
          margin-bottom: 4px; }
        #playingBarContainer #playingBar #playingBarRight .volumeBar .progress {
          background-color: #a0a0a0;
          width: 0%;
          height: 4px;
          border-radius: 2px; }
    #playingBarContainer #playingBar #playingBarLeft {
      width: 30%;
      min-width: 180px; }
      #playingBarContainer #playingBar #playingBarLeft .content {
        height: 60px; }
      #playingBarContainer #playingBar #playingBarLeft .albumArtwork {
        display: inline-block;
        height: 100%;
        margin-right: 5px;
        background-size: cover; }
        #playingBarContainer #playingBar #playingBarLeft .albumArtwork img {
          height: 100%; }
      #playingBarContainer #playingBar #playingBarLeft .trackInfo {
        display: inline-block;
        vertical-align: top; }
        #playingBarContainer #playingBar #playingBarLeft .trackInfo .trackName {
          font-size: 18px;
          font-weight: bold;
          color: #FFF;
          margin-bottom: 5px; }
        #playingBarContainer #playingBar #playingBarLeft .trackInfo .artistName {
          display: block;
          font-size: 12px;
          color: #a0a0a0;
          margin-top: 5px; }
    #playingBarContainer #playingBar #playingBarCenter {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #playingBarContainer #playingBar #playingBarCenter #playingBarControls {
        width: 100%; }
        #playingBarContainer #playingBar #playingBarCenter #playingBarControls .buttons {
          display: table;
          margin: 0 auto; }
        #playingBarContainer #playingBar #playingBarCenter #playingBarControls .controlButton {
          background-color: transparent;
          border: none;
          vertical-align: middle; }
        #playingBarContainer #playingBar #playingBarCenter #playingBarControls .controlButton:hover {
          cursor: pointer; }
        #playingBarContainer #playingBar #playingBarCenter #playingBarControls .play img,
        #playingBarContainer #playingBar #playingBarCenter #playingBarControls .pause img {
          height: 32px;
          width: 32px; }
        #playingBarContainer #playingBar #playingBarCenter #playingBarControls img {
          height: 20px;
          width: 20px; }
      #playingBarContainer #playingBar #playingBarCenter .playingProgressBar {
        display: flex;
        width: 100%; }
        #playingBarContainer #playingBar #playingBarCenter .playingProgressBar .progressTime {
          color: #a0a0a0;
          font-size: 14px;
          text-align: center;
          min-width: 20px;
          width: 10%; }
        #playingBarContainer #playingBar #playingBarCenter .playingProgressBar .progressBar {
          width: 90%;
          cursor: pointer; }
          #playingBarContainer #playingBar #playingBarCenter .playingProgressBar .progressBar .progressBarIcon {
            width: 100%;
            height: 4px;
            background-color: #404040;
            border-radius: 2px;
            margin-top: 6px; }
          #playingBarContainer #playingBar #playingBarCenter .playingProgressBar .progressBar .progress {
            background-color: #a0a0a0;
            width: 0%;
            height: 4px;
            border-radius: 2px; }

/* 
*   Page for album.php
*/
.entityInfo {
  display: inline-block;
  padding: 40px 0 10px 10px;
  width: 100%; }
  .entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px; }
    .entityInfo .leftSection img {
      width: 100%; }
  .entityInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 35px;
    box-sizing: border-box; }
    .entityInfo .rightSection h1 {
      margin: 0; }
    .entityInfo .rightSection p {
      color: #a0a0a0;
      font-size: 14px; }

.tracklist {
  padding: 0; }
  .tracklist .tracklistRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none; }
    .tracklist .tracklistRow:hover {
      background-color: #282828; }
    .tracklist .tracklistRow span {
      color: #a0a0a0; }
    .tracklist .tracklistRow .trackCount {
      width: 5%;
      float: left; }
      .tracklist .tracklistRow .trackCount img {
        width: 20px;
        visibility: hidden;
        position: absolute;
        cursor: pointer; }
    .tracklist .tracklistRow:hover .trackCount img {
      visibility: visible; }
    .tracklist .tracklistRow .trackCount span {
      visibility: visible; }
    .tracklist .tracklistRow:hover .trackCount span {
      visibility: hidden; }
    .tracklist .tracklistRow .trackInfo {
      width: 75%;
      float: left; }
      .tracklist .tracklistRow .trackInfo span {
        display: block; }
      .tracklist .tracklistRow .trackInfo .trackName {
        color: #FFF;
        margin-bottom: 5px; }
    .tracklist .tracklistRow .trackOptions {
      width: 5%;
      float: left;
      text-align: right; }
      .tracklist .tracklistRow .trackOptions img {
        width: 15px;
        visibility: hidden; }
    .tracklist .tracklistRow:hover .trackOptions img {
      visibility: visible; }
    .tracklist .tracklistRow .trackDuration {
      width: 10%;
      float: left;
      text-align: right; }

/* 
*   Page for artist.php
*/
.entityInfo .borderBottom {
  border-bottom: 1px solid #a0a0a0;
  margin-bottom: 15px; }
.entityInfo .centerSection {
  text-align: center; }
  .entityInfo .centerSection .playButton {
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    background-color: #2ebd59;
    letter-spacing: 2px;
    border-radius: 75px;
    border: 2px solid #2ebd59;
    padding: 15px;
    width: 150px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .entityInfo .centerSection .artistName {
    font-size: 42px; }
.entityInfo .left-align {
  text-align: left !important; }
.entityInfo .gridViewContainer h2,
.entityInfo .tracklistContainer h2 {
  font-size: 26px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px; }

/* 
*   Page for search.php
*/
.searchContainer {
  padding: 20px 28px;
  background-color: #282828; }
  .searchContainer h4 {
    font-size: 20px;
    margin: 0;
    color: #FFF; }
  .searchContainer .searchInput {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 5px;
    color: #FFF; }
  .searchContainer input:focus {
    outline: none; }

.tracklistContainer.borderBottom {
  border-bottom: 1px solid #a0a0a0;
  margin-bottom: 15px; }
  .tracklistContainer.borderBottom h2 {
    text-align: center;
    font-size: 32px; }

.artistContainer.borderBottom {
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 15px; }
  .artistContainer.borderBottom h2 {
    text-align: center;
    font-size: 32px; }
  .artistContainer.borderBottom .searchResultArtist {
    margin-bottom: 15px;
    padding: 10px 10; }
    .artistContainer.borderBottom .searchResultArtist span {
      font-size: 20px; }
    .artistContainer.borderBottom .searchResultArtist:hover {
      background-color: #282828; }

/* 
*   Page for yourMusic.php
*/
.playlistContainer {
  text-align: left; }
  .playlistContainer .gridViewPlaylistContainer {
    margin: 15px 0; }
    .playlistContainer .gridViewPlaylistContainer h3 {
      font-size: 42px;
      margin: 20px 0;
      text-align: center; }
    .playlistContainer .gridViewPlaylistContainer .createButton {
      display: block;
      margin: 0 auto;
      color: #FFF;
      font-weight: bold;
      cursor: pointer;
      background-color: #2ebd59;
      letter-spacing: 2px;
      border-radius: 75px;
      border: 2px solid #2ebd59;
      padding: 15px;
      width: 200px;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .playlistContainer .gridViewPlaylistContainer .gridViewPlaylistItem {
      display: inline-block;
      margin-right: 30px;
      width: 29%;
      max-width: 200px;
      min-width: 150px;
      margin-bottom: 20px; }
      .playlistContainer .gridViewPlaylistContainer .gridViewPlaylistItem .gridViewImage {
        border: 1px solid #282828;
        padding: 10px; }
        .playlistContainer .gridViewPlaylistContainer .gridViewPlaylistItem .gridViewImage img {
          width: 100%; }
      .playlistContainer .gridViewPlaylistContainer .gridViewPlaylistItem .gridViewInfo {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        margin-top: 15px; }

/* 
*   Page for playlist.php
*/
.deleteButton {
  display: block;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  letter-spacing: 1px;
  border-radius: 75px;
  border: 2px solid #FFF;
  padding: 10px;
  width: 200px;
  text-transform: uppercase;
  margin-bottom: 30px; }

.gridViewImage {
  border: 1px solid #282828;
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
